<div id="banner-homepage" class="clipped_bovenzijdee">

    <div class="banner-homepage-slide active">
        <img

                src="https://ucarecdn.com/50552713-79c9-4ec0-9a5d-b66b8b790925/VRA_banner_wijnemenjemee_21.png"

                srcset="
                https://ucarecdn.com/50552713-79c9-4ec0-9a5d-b66b8b790925/-/resize/760x/VRA_banner_wijnemenjemee_21.png 760w,
                https://ucarecdn.com/50552713-79c9-4ec0-9a5d-b66b8b790925/-/resize/900x/VRA_banner_wijnemenjemee_21.png 900w,
                https://ucarecdn.com/50552713-79c9-4ec0-9a5d-b66b8b790925/-/resize/1200x/VRA_banner_wijnemenjemee_21.png 1200w,
                https://ucarecdn.com/50552713-79c9-4ec0-9a5d-b66b8b790925/-/resize/1700x/VRA_banner_wijnemenjemee_21.png 1700w,
                https://ucarecdn.com/50552713-79c9-4ec0-9a5d-b66b8b790925/-/resize/2500x/VRA_banner_wijnemenjemee_21.png 2500w
                "

                alt="Wij nemen je mee in het verbeteren van de bereikbaarheid van de regio Amsterdam" title="Wij nemen je mee in het verbeteren van de bereikbaarheid van de regio Amsterdam" width="100%"
        />
    </div>



    <div class="banner-homepage-slide">
        <img
                src="https://ucarecdn.com/02b8e622-f6f0-4577-bf59-8fe7bc68a9bf/VRA_banner_wijnemenjemee_22.png"

                srcset="
                https://ucarecdn.com/02b8e622-f6f0-4577-bf59-8fe7bc68a9bf/-/resize/760x/VRA_banner_wijnemenjemee_22.png 760w,
                https://ucarecdn.com/02b8e622-f6f0-4577-bf59-8fe7bc68a9bf/-/resize/900x/VRA_banner_wijnemenjemee_22.png 900w,
                https://ucarecdn.com/02b8e622-f6f0-4577-bf59-8fe7bc68a9bf/-/resize/1200x/VRA_banner_wijnemenjemee_22.png 1200w,
                https://ucarecdn.com/02b8e622-f6f0-4577-bf59-8fe7bc68a9bf/-/resize/1700x/VRA_banner_wijnemenjemee_22.png 1700w,
                https://ucarecdn.com/02b8e622-f6f0-4577-bf59-8fe7bc68a9bf/-/resize/2500x/VRA_banner_wijnemenjemee_22.png 2500w
                "

                alt="Wij nemen je mee in het verbeteren van de bereikbaarheid van de regio Amsterdam" title="Wij nemen je mee in het verbeteren van de bereikbaarheid van de regio Amsterdam" width="100%"
        />
    </div>


    <div class="banner-homepage-slide">

        <img src="https://ucarecdn.com/c4fd819d-c75d-414d-b31a-f4701b2f5835/VRA_banner_wijnemenjemee_23.png"

             srcset="
                https://ucarecdn.com/c4fd819d-c75d-414d-b31a-f4701b2f5835/-/resize/760x/VRA_banner_wijnemenjemee_23.png 760w,
                https://ucarecdn.com/c4fd819d-c75d-414d-b31a-f4701b2f5835/-/resize/900x/VRA_banner_wijnemenjemee_23.png 900w,
                https://ucarecdn.com/c4fd819d-c75d-414d-b31a-f4701b2f5835/-/resize/1200x/VRA_banner_wijnemenjemee_23.png 1200w,
                https://ucarecdn.com/c4fd819d-c75d-414d-b31a-f4701b2f5835/-/resize/1700x/VRA_banner_wijnemenjemee_23.png 1700w,
                https://ucarecdn.com/c4fd819d-c75d-414d-b31a-f4701b2f5835/-/resize/2500x/VRA_banner_wijnemenjemee_23.png 2500w
            "

             alt="Wij nemen je mee in het verbeteren van de bereikbaarheid van de regio Amsterdam" title="Wij nemen je mee in het verbeteren van de bereikbaarheid van de regio Amsterdam" width="100%"
        />

    </div>



    <div id="introgradient"></div>

    <div class="call-to-action">
        <span class="">Wij nemen je mee<br/>
			in het verbeteren van<br/>
			de bereikbaarheid van de regio Amsterdam</span>
    </div>

    <!--{{> icon-woordmerk}}-->

</div>
