<a class="category-banner" href="/thema-projecten">
    <div class="title">
        {{> icon-chevron }}
        <h3>Wij nemen je mee naar de projecten</h3>
    </div>
    <div class="ezelsoor"><span></span></div>
    <img src="https://ucarecdn.com/a410fb4b-e610-4f05-a909-9c2f59f2e3d9/bannert_projecten.png"/>

</a>

<a class="category-banner" href="/thema-openbaar-vervoer">
    <div class="title">
        {{> icon-chevron}}
        <h3>Wij nemen je mee in het openbaar vervoer</h3>
    </div>
    <div class="ezelsoor"><span></span></div>
    <img src="https://ucarecdn.com/35f6f22d-d55c-4dc4-a2b1-10d3c83f6668/bannert_ov.png"/>

</a>

<a class="category-banner" href="/thema-toekomst">
    <div class="title">
        {{> icon-chevron}}
        <h3>Wij nemen je mee naar de toekomst</h3>
    </div>
    <div class="ezelsoor"><span></span></div>
    <img src="https://ucarecdn.com/9334694b-80f0-48fc-9212-e289936dedee/bannert_toekomst.png"/>

</a>

<a class="category-banner" href="/thema-materieel">
    <div class="title">
        {{> icon-chevron}}
        <h3>Wij nemen je mee in de nieuwe metro’s bussen en trams</h3>
    </div>
    <div class="ezelsoor"><span></span></div>
    <img src="https://ucarecdn.com/6e4dd833-6cfb-417e-823b-2c7a2e8610fe/bannert_materieel.png"/>

</a>

<a class="category-banner" href="/thema-fiets">
    <div class="title">
        {{> icon-chevron}}
        <h3>Wij nemen je mee op de fiets</h3>
    </div>
    <div class="ezelsoor"><span></span></div>
    <img src="https://ucarecdn.com/41a89ac0-941e-4de2-99ca-521140031e03/fiets_bannerrt.jpg"/>

</a>
