<footer class="clipped_footer">

    <svg class="clipped" width="1" height="1" viewBox="0 0 1 1" preserveAspectRatio="none" >
        <defs>
            <linearGradient id="vra-gradient">
                <stop offset="0%" stop-color="#B9005F" />
                <stop offset="50%" stop-color="#E30059" />
                <stop offset="100%" stop-color="#B9005F" />
            </linearGradient>
            <clipPath id="footer" clipPathUnits="objectBoundingBox">
                <path d="M0,0 L0,0.9 C0.331,0.9 0.48433,0.9 0.511,0.9 C0.551,0.9 0.551,1 0.591,1 C0.617666667,1 0.771,1 1,1 L1,0 L0,0 Z" id="Line" fill="#D8D8D8"></path>
            </clipPath>
        </defs>

        <rect x="0" y="0" width="1" height="1" clip-path="url('#footer')" fill="url(#vra-gradient)"></rect>
    </svg>



        <div>

            Vervoerregio Amsterdam<br/>
            Jodenbreestraat 25<br/>
            1011 NH Amsterdam<br/>
            Postbus 626<br/>
            1000 AP Amsterdam<br/>
        </div>



        <div>

            <a href="tel:020-5273700">020-5273700</a>
            <a href="mailto:hrm@vervoerregio.nl">hrm@vervoerregio.nl</a>


            <a id="toegankelijkheid" href="https://werkenbij.vervoerregio.nl/toegankelijkheidsverklaring">Toegankelijkheidsverklaring</a>
            <a id="colofon" href="https://werkenbij.vervoerregio.nl/colofon-en-privacy/">Colofon en privacy</a>

        </div>


        <div>

                {{> icon-beste-werkgever }}



        </div>

        <div>

            <ul>
                <li><a href="https://linkedin.com/company/vervoerregio-amsterdam" target="_blank">{{> icon-linkedin }}</a></li>
                <li><a href="https://twitter.com/vervoerregio" target="_blank">{{> icon-twitter }}</a></li>
                <li><a href="https://www.facebook.com/vervoerregio" target="_blank">{{> icon-facebook }}</a></li>
                <li><a href="https://www.instagram.com/vervoerregio/" target="_blank">{{> icon-instagram }}</a></li>
            </ul>
        </div>


</footer>
