<header id="header" class="wijnemenjemee">

    <div class="container">

        <div class="left-background"></div>

        <div class="left-side clipped_header">

            <svg width="1" height="1" viewBox="0 0 1 1" preserveAspectRatio="none">
                <defs>
                    <clipPath id="clippath-header" clipPathUnits="objectBoundingBox">
                        <path d="M0,5.7718637e-08 L0,1.00000006 C0.354488569,1.00000006 0.624415595,5.7718637e-08 1,5.7718637e-08 L0,5.7718637e-08 Z" id="path-1"></path>
                    </clipPath>
                </defs>

                <rect x="0" y="0" width="1" height="1" clip-path="url('#clippath-header')"></rect>
            </svg>

        </div>

        <a href="https://wijnemenjemee.nl">{{> icon-beeldmerk}}<span style="display:none">wij nemen je mee</span></a>

        <!-- wij nemen je mee -->

    </div>

</header>
