<ul id="menu-buttons">

    <li id="open-menu">
        {{> icon-hamburger }}
    </li>
    <li id="close-menu">
        {{> icon-close }}
    </li>

</ul>

<nav id="nav">

    <div>
        <div>
            <h3>Wij nemen je mee</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/zoeken/?filter[type]=post&filter[env]=wijnemenjemee&page=1">Nieuws</a></li>
                <li><a href="/kaarten-en-andere-downloads/">Kaarten en andere downloads</a></li>
            </ul>
        </div>


        <div>
            <h3>Thema's</h3>
            <ul>
                <li><a href="/projecten">Projecten</a></li>
                <li><a href="/het-openbaar-vervoer">Openbaar Vervoer</a></li>
                <li><a href="/de-toekomst">Toekomst</a></li>
                <li><a href="/de-nieuwe-metros-bussen-en-trams">Nieuwe metro’s, trams en bussen</a></li>
                <li><a href="/de-fiets">Fiets</a></li>
            </ul>
        </div>

        <div>
            <h3>Organisatie</h3>
            <ul>
                <li><a href="/vervoerregio-amsterdam">Vervoerregio Amsterdam</a></li>
                <li><a href="/colofon">Contact en colofon</a></li>
                <li><a href="http://noordzuidlijn.wijnemenjemee.nl">Archief Noord/Zuidlijn</a></li>
                <li><a href="http://noordzuidlijn.wijnemenjemee.nl/zoeken">Zoek in gearchiveerde berichten en reacties</a></li>
            </ul>
        </div>
    </div>
</nav>