    <svg id="respond-pencil" onclick="respond.onFocus();"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
        <path fill="#000000" d="M19.104 0.896c-0.562-0.562-1.309-0.871-2.104-0.871s-1.542 0.309-2.104 0.871l-12.75 12.75c-0.052 0.052-0.091 0.114-0.116 0.183l-2 5.5c-0.066 0.183-0.021 0.387 0.116 0.524 0.095 0.095 0.223 0.146 0.354 0.146 0.057 0 0.115-0.010 0.171-0.030l5.5-2c0.069-0.025 0.131-0.065 0.183-0.116l12.75-12.75c0.562-0.562 0.871-1.309 0.871-2.104s-0.309-1.542-0.871-2.104zM5.725 17.068l-4.389 1.596 1.596-4.389 11.068-11.068 2.793 2.793-11.068 11.068zM18.396 4.396l-0.896 0.896-2.793-2.793 0.896-0.896c0.373-0.373 0.869-0.578 1.396-0.578s1.023 0.205 1.396 0.578c0.373 0.373 0.578 0.869 0.578 1.396s-0.205 1.023-0.578 1.396z"></path>
    </svg>

            <form id="respondform" class="respondform {{#ifShorterThan body.interaction.nested_comments 1}}open{{/ifShorterThan}}" action="#">

        <textarea required id="respondMessage" rows="1" onfocus="respond.onFocus();" placeholder="..."></textarea>
        <!-- <div class="comment-shape-container"><div class="comment-shape"></div></div> -->
        <div>

            <div class="form-group">
                <label>Uw naam (optioneel)</label>
                <input minlength="2" type="text" name="author" id="respondAuthor" size="22">
            </div>

            <div class="form-group">
                <label>Uw emailadres (optioneel)</label>
                <input type="text" name="email" id="respondEmail"  size="22" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" title="Ongeldig email adres">
            </div>

            <input id="respondPostId" type="hidden" value="{{body.objectID}}">
            <input id="respondPostSlug" type="hidden" value="{{body.slug}}">
            <input id="respondPostTitle" type="hidden" value="{{body.title}}">
            <input id="respondPostCommentCount" type="hidden" value="{{body.comment_count}}">

            <div id="formerror" aria-live="assertive" role="alert"></div>

            <button class="orange" type="submit">Plaats reactie</button>
        </div>
    <!--<div id="right-side" class="half">-->

        <!--<div class="form-group form-group__row ">-->
            <!--<div class="checkbox">-->
                <!--<input id="subscribeToAlerts" type="checkbox" /><label for="subscribeToAlerts">Hou me op de hoogte over reacties</label>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
    </form>

<div id="comment-template-new" class='thread'>
    <div class='comment'>
        <div class='header'>
            <span class='datetime smallerfont'></span>
            <h4></h4>
        </div>
        <p id="commment-template-text"></p>
        <!--<div class='rating-container'>-->
            <!--<span class='rating-value smallerfont'>123</span>-->
            <!--<div class='rating-button'>-->
                <!--<div class='circle'></div><span>+1</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class='comment-shape-container'><div class='comment-shape'>-->
        <!--</div></div>-->
    </div>
</div>

<div id="comment-template-reply" class='comment'>
		<div class="connecting-square"></div>
    <div class='header'>
        <span class='datetime smallerfont'></span>
        <h4></h4>
    </div>
    <p id="commment-template-text"></p>
    <!--<div class='comment-shape-container'>-->
        <!--<div class='comment-shape'>-->
        <!--</div>-->
    <!--</div>-->
</div>
