<ul class="vacature_parameters">

    <li>{{> icon-calendar }}{{vacature.vacatureParameters.aantal_uren}} uur per week</li>

    <li>{{> icon-education}}{{vacature.vacatureParameters.opleidingsniveau}}</li>

    <li>{{> icon-salary }}{{currency vacature.vacatureParameters.min_salaris}} {{#if vacature.vacatureParameters.max_salaris}}tot{{/if}} {{currency vacature.vacatureParameters.max_salaris}}</li>

</ul>
