.idea
.DS_Store
node_modules
logs/*
dist
!dist/assets/
dist/assets/css/main.css
npm-debug.log
config/development/*
config/production/*
wp-content/plugins/headless/lib/cors.php
config/production/index.js
package-lock.json