<!DOCTYPE html>
<html>
<head>
    {{> head }}

    <script src="{{baseUrl}}/assets/vendorjs/anime.min.js" charset="utf-8"></script>
</head>

<body class="wijnemenjemee">



<main id="page">




</main>

{{> footer }}
</body>
</html>