<!DOCTYPE html>
<html>
<head>
    {{> head }}
</head>

<body class="theme wijnemenjemee">

{{> header }}

{{> menu }}

    <main>

        <div id="cover_container">
            {{> responsive-image format='camera' size='full' title=body.mainImage.alttext external_id=body.mainImage.external_id filename=body.mainImage.filename }}

            <div class="gradient bottom"></div>

        </div>


        <div id="theme_intro">
            <!--<span>Wij nemen je mee</span>-->
            <h1>{{{body.title}}}</h1>
        </div>




        <div class="block large">

            <h2>{{body.themeFields.subtitle}}</h2>

            <div class="text">{{{body.content}}}</div>

        </div>

        {{> block-large item=body.posts.[0] baseUrl=../baseUrl }}

        {{> block-camera item=body.posts.[1] baseUrl=../baseUrl  class="clipped_bovenzijde"}}
        {{> block-camera item=body.posts.[2] baseUrl=../baseUrl }}
        {{> block-camera item=body.posts.[3] baseUrl=../baseUrl }}



        <a class="more-link" href="/zoeken/?filter[type]=post&page=1">
            {{> icon-plus }} <span>meer nieuwsberichten</span>
        </a>

    </main>

    {{> footer }}

    {{> clip-paths }}

</body>



{{> footer-scripts}}

</html>
