<!DOCTYPE html>
<!DOCTYPE html>
<html lang="nl">
<head>
    <title>{{renderEnv}} - {{body.title}}</title>
    {{> head }}

    <style>

        .clipped_bovenzijde {
            -webkit-clip-path: url(#bovenzijde);
            clip-path: url(#bovenzijde);
        }

        .clipped_onderzijde {
            -webkit-clip-path: url(#onderzijde);
            clip-path: url(#onderzijde);
        }

        .clipped_footer {
            -webkit-clip-path: url(#footer);
            clip-path: url(#footer);
        }
    </style>
</head>

<body class="vacatures werkenbij">

{{> header-wb }}

<article>

    <div id="cover_container">
        {{> responsive-image format='camera' size='full' title=body.mainImage.alttext external_id=body.mainImage.external_id filename=body.mainImage.filename }}

        <div class="gradient"></div>

    </div>

    <div class="main_background clipped_bovenzijde"></div>

    <div id="intro" class="large-container">

        <h1>{{{body.title}}}</h1>

        <div id="vacature-verlopen" style="display:none;margin-bottom:2rem;">

            De vacature die u zoekt, is niet meer beschikschaar. De inzendtermijn hiervan is gesloten.<br/>
            Als er openstaande vacatures zijn, ziet u die hieronder.<br/>
            Ziet u niets, dan is er op dit moment geen vacature beschikbaar.<br/>
            Voor meer informatie over werken bij Vervoerregio Amsterdam, klik op het logo om op de homepagina terecht te komen.
        </div>

        <div id="search-form-container">

            <div id="search-form">
                <input id="archive-search-box"  placeholder="uw zoekterm ..." />
                <button onclick="search()">
                    <svg width="19px" height="19px" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g fill="transparent" stroke-width="2">
                        <circle id="Oval" cx="7" cy="7" r="6"></circle>
                        <path d="M11.5,11.5 L17.1568542,17.1568542" id="Line" stroke-linecap="square"></path>
                    </g>
                    </svg>
                </button>

            </div>

            <div id="result-count-container" style="display:none">
                <span></span> resultaten gevonden
            </div>

        </div>

    </div>

    <div id="archived-content">

            <div id="search-content-container"></div>
            <ul id="pagination"></ul>

    </div>

</article>

{{> footer-wb }}

{{> clip-paths }}

</body>

{{> footer-scripts}}

</html>
